header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 32px;
  background: #1f363d;
  border-bottom: 3px solid white;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-bar {
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin: 0px 16px 0px 0px;
}

.nav-list {
  display: none;
}

.hbg-icon {
  margin: 0;
  padding: 0;
}

@media (min-width: 650px) {
  .nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
}
.hbg-icon {
  display: none;
}
}

.nav-item {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  margin-right: 1.6rem;
}

.nav-item:hover {
  color: #6FD3E9;
}

.active-nav-item {
  color: #6FD3E9;
}

.project-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  margin-right: 0;
  margin-bottom: 16xp;
}

.nav-item-project {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  margin-right: 0.6rem;
}

.nav-item-project:hover {
  color: #6FD3E9;
}

.nav-item-project:active {
  color: #6FD3E9;
}

.chevron-icon-main {
  margin-left: auto;
  margin-right: 1.4rem;
  margin-bottom: 0px;
  fill: #ffffff;
  width: 14px;
  height: 14px;
  transform: rotate(90deg);
  }

.chevron-icon-main:hover {
  color: #6FD3E9;
  }
  
.chevron-icon-main:active {
  color: #6FD3E9;
  }

.nav-item-dropdown {
  color: white;
  font-size: 0.9rem;
  text-decoration: none;
  margin-right: 0rem;
  }
  
.nav-item-dropdown:hover {
  color: #6FD3E9;
  opacity: 0.9;
  }
  
.nav-item-dropdown:active {
  color: #6FD3E9;
  }

.nav-item-hbg {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
  margin-right: 0;
  margin-bottom: 16xp;
}

.nav-item-hbg:hover {
  color: #6FD3E9;
}

.active-nav-item-hbg {
  color: #6FD3E9;
}

.project-button-hbg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  margin-right: 0;
  margin-bottom: 16xp;
}

.chevron-icon-hbg {
margin-left: auto;
margin-bottom: 11px;
fill: #ffffff;
width: 16px;
height: 16px;
transform: rotate(90deg);
}

.chevron-icon-hbg:hover {
  color: #6FD3E9;
}

.chevron-icon-hbg:active {
  color: #6FD3E9;
 }
