header {
  width: 100%;
  height: 100px;
  padding: 1rem 0 3rem;
  background: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: white;
  font-size: .9rem;
  text-decoration: none;
  margin-right: 1.3rem;
}

.nav-item:hover {
  color: #6FD3E9;
}

.active-nav-item {
  color: #6FD3E9;
}