header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 32px;
  background: #1f363d;
  z-index: 10;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo-bar {
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 50px;
  height: 50px;
  margin: 0px 16px 0px 0px;
}

.nav-list {
  display: none;
}

.hbg-icon {
  margin: 0;
  padding: 0;
}

@media (min-width: 650px) {
  .nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}
.hbg-icon {
  display: none;
}
}


.nav-item {
  color: white;
  font-size: .9rem;
  text-decoration: none;
  margin-right: 1.3rem;
}

.nav-item:hover {
  color: #6FD3E9;
}

.active-nav-item {
  color: #6FD3E9;
}

.nav-item-hbg {
  color: white;
  font-size: .9rem;
  text-decoration: none;
  margin-right: 0;
}

.nav-item-hbg:hover {
  color: #6FD3E9;
}

.active-nav-item-hbg {
  color: #6FD3E9;
}